* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0062be;
  transition: all 0.5s ease;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  position: relative;
  max-width: 80px;
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  display: inline-block;
  color: #f3f3f3;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}
.content {
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}
.content .textBox h2 {
  color: #f3f3f3;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.content .textBox h2 span {
  font-size: 2em;
}
.content .textBox p {
  color: #f3f3f3;
}
.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #f3f3f3;
  color: #0a0a0a;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.content .textBox a:hover {
  background: transparent;
  color: #f3f3f3;
  border: 2px solid #0a0a0a;
}
.content .imgBox {
  width: 600px;
  display: flex;
  padding-right: 50px;
  justify-content: flex-end;
  margin-top: 50px;
}
.content .imgBox img {
  max-width: 260px;
}
.thumbnails {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumbnails li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.thumbnails li:hover {
  transform: translateY(-15px);
}
.thumbnails li img {
  max-width: 40px;
}
.icons {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons li {
  list-style: none;
}
.icons li i {
  display: inline-block;
  filter: invert(1);
  margin: 5px 0;
  transform: scale(0.6);
  font-size: 2.5em;
}
